In [ ]:
import numpy as np
import pandas as pd

In [ ]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [ ]:
A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [ ]:
Identity = np.identity(3)

In [ ]:
Identity

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
fuel_data = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv',error_bad_lines=False)

**Question 3. Which of the following fuel type code has the lowest average fuel cost per unit burned?**
Ans : Gas

In [ ]:
fuel_data

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [ ]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

**Question 4. What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?**
Ans : std - 10.6 & 75th percentile - 17.01

In [ ]:
fuel_data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

**Question 5. What is the skewness and kurtosis for the fuel quantity burned in two decimal places?**
Ans: Skewness - 15.85  &  Kurtosis - 651.37

In [ ]:
fuel_data['fuel_qty_burned'].skew()

15.851495469109503

In [ ]:
fuel_data['fuel_qty_burned'].kurt()

651.3694501337732

**Question 6.Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?**

(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx) **bold text**

In [ ]:
fuel_data.isna().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [ ]:
missing_row_percentage = (180 / 29523) * 100
print(missing_row_percentage)
#Ans: 0.610%

0.609694136774718

**Question 8. Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned? **
Ans: fuel_qty_burned and fuel_mmbtu_per_unit

In [ ]:
fuel_data.corr().sum()

utility_id_ferc1                0.920774
report_year                     1.005239
fuel_qty_burned                 0.850576
fuel_mmbtu_per_unit             0.716298
fuel_cost_per_unit_burned       0.957737
fuel_cost_per_unit_delivered    0.967851
fuel_cost_per_mmbtu             1.008057
dtype: float64

**Question 9. For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?**
Ans: -21%

In [ ]:
data = fuel_data.groupby(['report_year', 'fuel_type_code_pudl']) ['fuel_cost_per_unit_burned'].sum() 
data.loc[1994, 'coal']
data.loc[1998, 'coal']

11902.597000000012

In [ ]:
data.perc = (data.loc[1998, 'coal'] - data.loc[1994, 'coal'])/data.loc[1994, 'coal'] * 100
print(data.perc)

-20.56765451826049

**Question 10. Which year has the highest average fuel cost per unit delivered?**

Ans: 1997

In [ ]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64