# **Problem Definition : The dataset for the remainder of this quiz is the Appliances Energy Prediction data. The data set is at 10 min for about 4.5 months. The house temperature and humidity conditions were monitored with a ZigBee wireless sensor network.Two random variables have been included in the data set for testing the regression models and to filter out non predictive attributes (parameters).**

# **To answer the questions, you will need to normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set.**

# **Importing necessary libraries**

In [ ]:
import pandas as pd
import matplotlib.pyplot  as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import Ridge, Lasso, LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# **Loading the dataset**

In [ ]:
energy_data = pd.read_csv('energydata_complete.csv')

In [ ]:
energy_data.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

# **Dataset Summary**

In [ ]:
energy_data.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

# **Data Wrangling**

In [ ]:
#dropping the 'date' & 'lights' column from the dataset
energy_data.drop(['date','lights'],axis=1,inplace=True)

# **Data preprocessing**

In [ ]:
#Using MinMaxScaler to scale the columns
scaler = MinMaxScaler()
normal_energy_data = pd.DataFrame(scaler.fit_transform(energy_data),columns=energy_data.columns)

In [ ]:
#Splitting the data into predictor(Independent) & response(Dependent) variables [Since target variable is 'Appliances]

#Predictors
features = normal_energy_data.drop(['Appliances'],axis=1)

#Target
target = normal_energy_data['Appliances']

In [ ]:
#Splitting into train & test sets
x_train,x_test,y_train,y_test = train_test_split(features,target,test_size=0.3,random_state=42)

# **Quiz Questions**

**Question 12: From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?**

**Answer = 0.64**

In [ ]:
#Obtaining the training and testing set of T2 & T6 column from the actual dataset
trainx = x_train[['T2']]
trainy = x_train[['T6']]
testx = x_test[['T2']]
testy = x_test[['T6']]

#Initiating the model
model = LinearRegression()

#Fitting the model with the training set
model.fit(trainx,trainy)

#Making predictions
pred = model.predict(testx)

#Calculate the r2 score 
r2_value = round(r2_score(testy,pred),2)
r2_value

0.64

**Question 13: What is the mean absolute error(in two decimal places)?**

**Ans : 0.05**

In [ ]:
# Applying the linear model on the normalized data

#Initiating the model
reg = LinearRegression()

#Fitting the model
reg.fit(x_train,y_train)

#Making predictions
predict = reg.predict(x_test)

In [ ]:
#Computing MAE
mae = round(mean_absolute_error(y_test,predict),2)
mae

0.05

**Question 14: What is the Residual Sum of Squares(in two decimal places)**

**Ans : 45.35**

In [ ]:
#Calculating residual sum of squares

RSS = np.sum(np.square(y_test-predict))
round(RSS,2)

45.35

**Question 15: What is the Root Mean Squared Error(in three decimal places)**

**Ans : 0.088**

In [ ]:
#Calculate the root mean squared error

RMSE = np.sqrt(mean_squared_error(y_test,predict))
round(RMSE,3)

0.088

**Question 16: What is the Coefficient of Determination(in two decimal places)**

**Ans : 0.15**

In [ ]:
# Calculating the determination (r2 score)

R2_score = r2_score(y_test,predict)
round(R2_score,2)

0.15

**Question 17: Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?**

**Ans : We can see from the Table below that the features with the lowest and highest weights are RH_2, RH_1 respectively.**

In [ ]:
def get_weights_df(reg, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(reg.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

# Execute the get_weight function and store in dataframe
linear_weights_df = get_weights_df(reg, x_train, 'Linear_weight')

linear_weights_df

       Features  Linear_weight
0          RH_2      -0.456698
1         T_out      -0.321860
2            T2      -0.236178
3            T9      -0.189941
4          RH_8      -0.157595
5        RH_out      -0.077671
6          RH_7      -0.044614
7          RH_9      -0.039800
8            T5      -0.015657
9            T1      -0.003281
10          rv1       0.000770
11          rv2       0.000770
12  Press_mm_hg       0.006839
13           T7       0.010319
14   Visibility       0.012307
15         RH_5       0.016006
16         RH_4       0.026386
17           T4       0.028981
18    Windspeed       0.029183
19         RH_6       0.038049
20         RH_3       0.096048
21           T8       0.101995
22    Tdewpoint       0.117758
23           T6       0.236425
24           T3       0.290627
25         RH_1       0.553547

**Question 18: Train a Ridge Regression model with an alpha value of 0.4. Is there any change to the root mean squared error(RMSE) when evaluated on the test set?**

**Ans :There are no differences between the values (both 0.088), hence the answer is No.**

In [ ]:
# Initiating the Ridge model[Default alpha value]
ridge = Ridge()

#Fitting the ridge model
ridge.fit(x_train,y_train)

#Making predictions
ridge_pred= ridge.predict(x_test)

#Calculate root mean squared error
ridge_rmse = round(np.sqrt(mean_squared_error(y_test,ridge_pred)),3)

ridge_rmse

0.088

In [ ]:
# Initiating the Ridge model[alpha value=0.4]
ridge1 = Ridge(alpha=0.4)

#Fitting the ridge model
ridge1.fit(x_train,y_train)

#Making predictions
ridge_pred1= ridge1.predict(x_test)

#Calculate root mean squared error
ridge_rmse1 = round(np.sqrt(mean_squared_error(y_test,ridge_pred1)),3)

ridge_rmse

0.088

**Question 19: Train a Lasso regression model with an aplha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?**

**Ans : From the table below, we have 4 features that have non-zero feature weights**

In [ ]:
#Initiating the Lasso Model[alpha = 0.001]
lasso = Lasso(alpha=0.001)

#Fitting the lasoo model
lasso.fit(x_train,y_train)

#Making Predictions
lasso_pred = lasso.predict(x_test)

# defining a function to get weights
def get_weights_df(reg, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(reg.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

lasso_weights_df = get_weights_df(lasso, x_train, 'Lasso_weight')

# Non-zero weights
non_zero = lasso_weights_df[lasso_weights_df['Lasso_weight'] != 0]

non_zero

     Features  Lasso_weight
0      RH_out     -0.049557
1        RH_8     -0.000110
24  Windspeed      0.002912
25       RH_1      0.017880

**Question 20: What is the new RMSE with Lasso Regression (in 3 decimal places)**

**Ans : 0.094**

In [ ]:
#Computing the new RMSE with lasso regression
RMSE_lasso = round(np.sqrt(mean_squared_error(y_test, lasso_pred)), 3)
RMSE_lasso

0.094