**Data Preparation**

In [ ]:
#importing the necessary libraries
import pandas as pd
import numpy as np

In [ ]:
# Loading (reading) as dataframe

df = pd.read_csv("Data_for_UCI_named.csv")

In [ ]:
df.head()

       tau1      tau2      tau3  ...        g4      stab     stabf
0  2.959060  3.079885  8.381025  ...  0.958034  0.055347  unstable
1  9.304097  4.902524  3.047541  ...  0.781760 -0.005957    stable
2  8.971707  8.848428  3.046479  ...  0.109853  0.003471  unstable
3  0.716415  7.669600  4.486641  ...  0.362718  0.028871  unstable
4  3.134112  7.608772  4.943759  ...  0.820923  0.049860  unstable

[5 rows x 14 columns]

In [ ]:
# checking for null values
df.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [ ]:
# According to the Dataset instructions,the 'stab' column should be dropped.
df = df.drop(columns = 'stab')

In [ ]:
# Splitting the data into feature variables & response variable.

x = df.drop(['stabf'],axis = 1)
y = df['stabf']

In [ ]:
# Applying train-test-split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.2, random_state=1)

In [ ]:
# Applying the Standard Scaler Transformation
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
transformed_x_train = scaler.fit_transform(x_train)
transformed_x_train = pd.DataFrame(transformed_x_train, columns = x_train.columns)

In [ ]:
transformed_x_train.head()

       tau1      tau2      tau3  ...        g2        g3        g4
0  0.367327 -0.986042  0.650447  ...  0.339859  0.585568  0.492239
1 -0.064659  0.089437  1.035079  ... -1.558488  1.429649 -1.443521
2 -1.467850  1.298418 -0.502536  ...  1.451534 -1.045743  0.492489
3  0.820081  0.529920  1.299657  ...  1.361958  1.604140  0.275303
4  0.665424 -1.425627  0.312300  ...  0.695660  1.137504 -1.312575

[5 rows x 12 columns]

In [ ]:
# Transforming the x_test data
transformed_x_test = scaler.transform(x_test)
transformed_x_test = pd.DataFrame(transformed_x_test, columns = x_test.columns)

In [ ]:
transformed_x_test.head()

       tau1      tau2      tau3  ...        g2        g3        g4
0  0.593951 -0.412733  1.503924  ...  1.167203 -1.507330  1.084726
1  0.202190  0.374416 -0.188800  ... -0.395660  1.414651  1.226011
2 -1.079044 -0.313745 -0.884634  ... -1.438495  0.651821 -1.682168
3 -0.083120 -1.107327  0.372805  ... -1.672322 -0.357714  1.055865
4  0.873921  1.438466  0.086662  ... -1.469731  0.956396 -0.819727

[5 rows x 12 columns]

**Question 1 : What is the F1 Score of the Classifier?** 
**Ans : 0.3177**

In [ ]:
# Total instances (given) (n) = 2000
# F1 = 2 * (Precision*Recall)/(Precision + Recall)
Precision = (355/ ( 355+1480)) 
Recall =  (355 /(355+45)) 
F1_Score = 2 * (Precision*Recall)/(Precision + Recall)
print(round(F1_Score,4))

0.3177

**Question 14 : What is the accuracy on the test set using the random forest classifier? In 4 decimal places.**
**Ans : 0.9295**

In [ ]:
from sklearn.ensemble import RandomForestClassifier  # importing our classifier and fitting in the the training data
rand_c = RandomForestClassifier(random_state=1)
rand_c.fit(transformed_x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [ ]:
pred = rand_c.predict(transformed_x_test)

In [ ]:
from sklearn.metrics import recall_score, accuracy_score, precision_score, f1_score, confusion_matrix

print("Accuracy score {}".format(round(accuracy_score(y_test, pred), 4)))
print("Precision score for label stable %.3f" % (precision_score(y_test, pred, pos_label='stable')))
print("Recall score for label stable {}".format(round(recall_score(y_test, pred, pos_label='stable'), 4)))
print("F1 score %.3f" % (f1_score(y_test, pred, pos_label='stable')))

Accuracy score 0.929
Precision score for label stable 0.919
Recall score for label stable 0.8778
F1 score 0.898

**Question 15 : What is the accuracy on the test set using the xgboost classifier? In 4 decimal places.**
**Ans : 0.9195**

In [ ]:
#xgboost
from xgboost import XGBClassifier
xgb = XGBClassifier(random_state =1)
xgb.fit(transformed_x_train, y_train)
xgb_pred = xgb.predict(transformed_x_test)

In [ ]:
round(accuracy_score(y_test,xgb_pred),4)

0.9195

**Question 16: What is the accuracy on the test set using the LGBM classifier? In 4 decimal places.**

**Ans : 0.9375**

In [ ]:
import lightgbm as lgbm
lgbm = lgbm.LGBMClassifier(random_state=1)
lgbm.fit(transformed_x_train,y_train)
lgbm_pred  = lgbm.predict(transformed_x_test)

In [ ]:
round(accuracy_score(y_test, lgbm_pred),4)

0.9375

**Question 17 : Using the ExtraTreesClassifier as your estimator with cv=5, n_iter=10, scoring = 'accuracy', n_jobs = -1, verbose = 1 and random_state = 1. What are the best hyperparameters from the randomized search CV?**

**Ans : 'max_features': None**,

 **'min_samples_leaf': 8**,

 **'min_samples_split': 2**,
 
 **'n_estimators': 1000'**

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier

tree_class = ExtraTreesClassifier (random_state = 1)

In [ ]:
# given conditions (parameters)
n_estimators = [50, 100, 300, 500, 1000]    # Given we are to use this parameters to answer the question

min_samples_split = [2, 3, 5, 7, 9]

min_samples_leaf = [1, 2, 4, 6, 8]

max_features = ['auto', 'sqrt', 'log2', None] 

hyperparameter_grid = {'n_estimators': n_estimators,

                       'min_samples_leaf': min_samples_leaf,

                       'min_samples_split': min_samples_split,

                       'max_features': max_features}

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
rand = RandomizedSearchCV(estimator = tree_class, param_distributions= hyperparameter_grid, random_state=1,cv = 5, n_iter=10,scoring='accuracy',n_jobs=1, verbose=1)

In [ ]:
search = rand.fit(transformed_x_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:  2.0min finished

In [ ]:
#Best Hyperparameters
search.best_params_

{'max_features': None,
 'min_samples_leaf': 8,
 'min_samples_split': 2,
 'n_estimators': 1000}

**Question 18 : Train a new ExtraTreesClassifier Model with the new Hyperparameters from the RandomizedSearchCV (with random_state = 1). Is the accuracy of the new optimal model higher or lower than the initial ExtraTreesClassifier model with no hyperparameter tuning?**

**Ans : lower**

In [ ]:
best_Tree_Class = ExtraTreesClassifier(n_estimators=1000, min_samples_split=2, 
                                 min_samples_leaf=8, max_features=None)
best_Tree_Class.fit(transformed_x_train, y_train)
best_Tree_Class = best_Tree_Class.predict(transformed_x_test)

In [ ]:
print(classification_report(y_test,best_Tree_Class, digits=4))
print('\n')
print("Accuracy score {}".format(accuracy_score(y_test, best_Tree_Class)))

              precision    recall  f1-score   support

      stable     0.9198    0.8694    0.8939       712
    unstable     0.9299    0.9581    0.9438      1288

    accuracy                         0.9265      2000
   macro avg     0.9248    0.9137    0.9188      2000
weighted avg     0.9263    0.9265    0.9260      2000



Accuracy score 0.9265

In [ ]:
# COMPARING THIS RESULT WITH THE ORIGINAL TREE CLASSIFER WITHOUT TUNING

tree_class.fit(transformed_x_train,y_train)
tree_pred = tree_class.predict(transformed_x_test)

print(classification_report(y_test,tree_pred))

              precision    recall  f1-score   support

      stable       0.94      0.85      0.89       712
    unstable       0.92      0.97      0.95      1288

    accuracy                           0.93      2000
   macro avg       0.93      0.91      0.92      2000
weighted avg       0.93      0.93      0.93      2000

**Question 20 : Find the feature importance using the optimal ExtraTreesClassifier model. Which features are the most and least important respectively?**

**Ans : most important feature - tau2**

**least important feature - p1**

In [ ]:
feature_importance = search.best_estimator_.feature_importances_
print ('Feature Importance :\n', feature_importance)

Feature Importance :
 [0.13723975 0.1405075  0.13468029 0.13541676 0.00368342 0.00533686
 0.00542927 0.00496249 0.10256244 0.10757765 0.11306268 0.10954089]

In [ ]:
sorted (zip(feature_importance,x), reverse = True)

[(0.14050750384993677, 'tau2'),
 (0.13723974766109256, 'tau1'),
 (0.1354167630909727, 'tau4'),
 (0.13468028520386593, 'tau3'),
 (0.11306267999167334, 'g3'),
 (0.10954089174337298, 'g4'),
 (0.10757764577478764, 'g2'),
 (0.10256244080927947, 'g1'),
 (0.005429268421191957, 'p3'),
 (0.005336864710946151, 'p2'),
 (0.004962486591192238, 'p4'),
 (0.003683422151688322, 'p1')]